<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Responsive Web App</title>
  <link rel="stylesheet" href="static/styles.css">
</head>
<body>
  <div class="container">
    <header>
      <h1>Welcome to Our Web App</h1>
    </header>
    <main>
      <div class="login-form">
        <h2>Login</h2>
        <p class="message1"><button><a href="">Faculty</a></button></p>
        <br>
        <p class="message1"><button><a href="">Student</a></button></p>
      </div>
    </main>
    <footer>
      <p>&copy; 2023 Mits. All rights reserved.</p>
    </footer>
  </div>
</body>
</html>
